// EXAMPLE SCSS FILE TO SHOW CUSTOM SELECTORS
// SEE HOW THEY REPLICATE IN THE GENERATED FILES :)

$icon-wee-arrow-11 : ".icon-wee-arrow-11, .arrow:before";

$icon-wee-arrow-tiny : ".icon-wee-arrow-tiny";

$icon-wee-bear : ".icon-wee-bear, .withme";

$icon-wee-cat : ".icon-wee-cat";

$icon-wee-gear : ".icon-wee-gear";

$icon-wee-gradients-flat-opacity : ".icon-wee-gradients-flat-opacity";

$icon-wee-gradients : ".icon-wee-gradients";

$icon-wee-Home_Media : ".icon-wee-Home_Media";

$icon-wee-Image_Exchange : ".icon-wee-Image_Exchange";

$icon-wee-Internet : ".icon-wee-Internet";

$icon-wee-Internet_FP2 : ".icon-wee-Internet_FP2";

$icon-wee-Internet_Radio : ".icon-wee-Internet_Radio";

$icon-wee-Internet_Tel : ".icon-wee-Internet_Tel";

$icon-wee-Intranet : ".icon-wee-Intranet";

$icon-wee-map : ".icon-wee-map";

$icon-wee-plus : ".icon-wee-plus, .supergoodplus";

$icon-wee-star : ".icon-wee-star";

$icon-wee-unicon : ".icon-wee-unicon";